body {
    padding-top: 50px;
}
.bg-primary_{
    background-color:#14b7a6;
    
}
.bg-primary__{
    background-color:#14b7a6;
    border: none;
}
.image{
    width:24px;
    height:auto;
}
.test{
    color:white;
}
